/* Site Wide Styles */
/************************* */
body {
  background-color: #6c757d;
}
/* Fonts */
/************************* */
/* Import Fondamento and Open Sans Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
body {
  font-family: 'Open Sans', sans-serif;  
}
header h1 {
  font-family: 'Fondamento', cursive;
}
/************************* */
/* Header Styles */
/************************* */
header {
  background-color: #403e3e;
  margin-bottom: 15px;
}
header h1 a {
  color: #F98C45;
}
header h1 a:hover {
  color: #FFF;
}
/************************* */
/* Song Name Picker styles */
/************************* */
.song-picker {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #403e3e;
  padding: 20px;
  background-color: #FFF;
}
.song-picker h3 {
  margin-bottom: 10px;
}
.song-picker input, .song-picker button {
  width: 80%;
  text-align: center;
  padding: 0;
}
.song-picker input {
  height: 40px;
  margin-bottom: 4px;
}
.song-picker button {
  height: 30px;
}