/* App wide styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Import Fondamento and Open Sans Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
body {
  font-family: 'Open Sans', sans-serif;  
}
/************************* */
.header h1 {
  font-family: 'Fondamento', cursive;  
}
/* Song Name Picker styles */
.song-picker {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
.song-picker input, .song-picker button {
  width: 80%;
  text-align: center;
  padding: 0;
}
.song-picker input {
  height: 40px;
}
.song-picker button {
  height: 30px;
}